In [1]:
%load_ext watermark

import ipywidgets as widgets
import itertools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from typing import List

from ipywidgets import interact, interact_manual


sns.set_style()

LAGGED_SALES_DATA = 'lagged_sales_data.csv'

In [2]:
df_lag = pd.read_csv(LAGGED_SALES_DATA)
df_lag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   1107 non-null   int64
 1   week                   1107 non-null   int64
 2   article_count          1107 non-null   float64
 3   sales_price            1107 non-null   float64
 4   original_price         1107 non-null   float64
 5   discount               1107 non-null   float64
 6   stock_begin_week       1107 non-null   float64
 7   month                  1107 non-null   int64
 8   transaction_date       1107 non-null   object
 9   article_count_minus-1  1107 non-null   float64
 10  article_count_minus-2  1107 non-null   float64
 11  article_count_minus-3  1107 non-null   float64
 12  article_count_minus-4  1107 non-null   float64
 13  article_7754922460402  1107 non-null   int64
 14  article_7754922460403  1107 non-null   int64
 15  article_7754922460404  1107 non-null   int64
 16  article_7754922460405  1107 non-null   int64
 17  article_7754922460406  1107 non-null   int64
 18  article_7754922460407  1107 non-null   int64
 19  article_7754922710402  1107 non-null   int64
 20  article_7754922710403  1107 non-null   int64
 21  article_7754922710404  1107 non-null   int64
 22  article_7754922710405  1107 non-null   int64
 23  article_7754922710406  1107 non-null   int64
 24  article_7754922710407  1107 non-null   int64
 25  country_country_0      1107 non-null   int64
 26  country_country_1      1107 non-null   int64
 27  country_country_2      1107 non-null   int64
dtypes: float64(9), int64(18), object(1)
memory usage: 242.3+ KB

## Start and End Dates of Train-Test Period